.header{
    width: 100%;
   
     background-color: bisque;
}
.f1{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top:390px;
    width: 100%;
    height: 630px;
    background-image: url(ecommerce\ background.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.f1h1{
    margin:10px 0px 15px 0px;
      font-family:poppins;
      font-weight: 700;
      font-size: 72px;
      color: rgb(255, 255, 255);
    
}
.f1h2{
    font-family:poppins;
    font-size: 24px;
    font-weight: 100;
    color: rgb(255, 255, 255);
    margin:0px 0px 0px 0px;
}

.f1b{
    font-family:poppins;
    font-size: 16px;
    color: rgb(255, 255, 255);
    padding: 14px 30px 14px 30px;
    background-color:#FE4847;
    border-style: none;
    margin:0px;
}
.f2{
     width: 100%;
     background-color:#ffffff;
     height:700px;
     display: flex;
  align-items: center;
     
}
.f2f1{
    width:65%;
    
    
    display:flex;
    justify-content: end;
    flex-wrap: wrap;
    align-content: flex-start;
    
    
   
}
.f2f2{
    width:35%;
    margin-left: 27px;
    display:flex;

}
   




.f2f2f1{
    position: relative;
    width:65%;
    background-color:#b19696;
    height:567px;
}



    .f2f1f1{
        position: relative;
        margin-left: 27px;
        margin-top: 23px;
        width:39%;
        height:270px;
      }

      
      .overlay {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #49494a9e;
        overflow: hidden;
        width: 100%;
        height: 0;
        transition: .1s ease;
      }
      
      .f2f1f1:hover .overlay {
        top: 0;
        height: 100%;
      }
      .f2f2f1:hover .overlay {
        top: 0;
        height: 100%;
      }

      .f3{
          width:100%;
          height:70px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
      }
      .f3h1{
        font-family:poppins;
        font-size: 28px;
        font-weight: 600;
        color: rgb(45, 43, 43);
        
       
      }
      .f4{
        width:100%;
        height:510px;
        display: flex;
        justify-content:center;
        align-items: center;
      }

      .f4f1{
        margin-left:20px;
        width:18%;
        height:400px;
        background-color: black;
        padding-bottom: 10px;
      }
      .f4f1i:hover{
        opacity:0.8;
      }
      .f4f1h{
        height:10%;
        padding:0px 0px 0px 10px;
        margin: 0px;
        font-family:poppins;
        font-size: 20px;
        font-weight: 600;
        color: rgb(255, 255, 255);

      }
      .f4f2p{
        height:10%;
        padding:0px 0px 0px 10px;
        margin: 0px;
        font-family:poppins;
        font-size: 28px;
        font-weight: 400;
        color: rgb(249, 12, 12);
       
      }
      .f3f4s{
        font-family:poppins;
        font-size: 18px;
        font-weight: 200;
        color: rgb(255, 255, 255);
        
      }
     
        .text {
            border-width:3px;
            border-style: solid;
            padding:10px 20px 10px 20px;
            border-color: rgb(255, 255, 255);
            font-family:poppins;
            color: white;
            font-size: 20px;
            position: absolute;
            overflow: hidden;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
          }
  .f5{
    width: 100%;

 
 
   
   
  }
  .f5f1{ 
    margin-top:80px;
     background-image: url(f5.jpg);
    background-size: 100% 500px;
    background-repeat: no-repeat;
  height:500px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 30%;
  padding-right:30%;

}
 

  .f5f1h1{
    font-family:poppins;
    color: #ffffff;
    margin: 0px;
    padding-bottom: 50px;
  
  }
  .f5f1p1{
    font-family:poppins;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    margin: 0px;
    padding-bottom: 20px;
  }
  .f5f1h2{

font-family:poppins;
    color: #ffffff;
    font-size: 17px;
    font-weight: 800;
    margin: 0px;
    
  }
  .f6{
    background-color:#f1f1f1;
    height: 600px;
   padding-top: 110px;
   
   
  }
  .f6f1{
    height:470px;
   
    display: flex;
justify-content: center;
align-items: center;
   width: 100%;
   
   
  }

  .f6f1f1{
    height: 100%;
    background-color: rgb(255, 255, 255);
    width: 25%;margin-left:40px;
  
    padding-left: 20px;
    
  
   
  }
  .f6f1f1f1{
    height: 15%;
   
    width: 100%;
  }
  .f6f1f1f2{
    height: 35%;
   
    width: 100%;
    
    display: flex;
  }

  .f6f1f1f2f1{
    height: 100%;
  
    width: 35%;
  }
  .f6f1f1f2f2{
    height: 100%;
  
    width: 65%;
  }
  .f6f1f1f1h{
    margin:0px;
    font-family: poppins;
    color: #000000;
    font-size: 22px;
    font-weight: 700;
    padding-top: 20px;
  }
  .f6f1f1f2f2h{
    font-family: poppins;
    color: #000000;
    font-size: 20px;
    font-weight: 500;
    margin: 0px;
    padding-top: 20px;
   

  }
  .f6f1f1f2f2p{
    font-family: poppins;
    color: #e20000;
    font-size: 20px;
    font-weight: 500;
    margin: 0px;
   padding-bottom: 25px;
   

  }
  .f6f1f1f2f2s{
    font-family: poppins;
    color: #8a8a8a;
    font-size: 16px;
    font-weight: 500;
    margin: 0px;
   
   

  }
  .f6f1f1f2f2b{
    font-family: poppins;
    color: #6d6d6d;
    font-size: 16px;
    font-weight: 500;
    background-color: #ffffff;
    padding:5px 20px 5px 20px;
    margin: 0px;
     border-color:#7e7c7c;
   border-style: solid;

  }
  .f6f1f1f1h2{
    font-family: poppins;
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    margin: 0px;
    padding-top: 20px;
    text-align: center;
   

  }
  .footer{
    font-family: poppins;
    height: 100px;
    color: #ffffff;
    background-color: #1c2241;
    width: 100%;
    font-size: 22px;
    font-weight: 600;
  padding-top: 5px;
  margin:0px;
    

    text-align: center;
  }
  